<div class="news-letter">
    <div class="inner">
      <div class="header">
        <h1>Newsletter</h1>
      </div>
      <div class="form">
        <label for="">Bleibe stets auf dem neuesten Stand.</label>
        <input type="email" value="email@gmail.com" />
        <div class="btn">
          <button>Abonnieren</button>
        </div>
      </div>
      <hr
        style="
          width: 40%;
          color: white;
          margin-top: 30px;
          margin-bottom: 30px;
        "
      />
      <div class="last-list">
        <ul class="left">
          <li>About</li>
          <li>FAQs</li>
          <li>Kontakt</li>
        </ul>
        <ul class="right">
          <li>Versandoptionen</li>
          <li>Versandoptionen AGBs</li>
          <li>Rückgaberecht</li>
          <li>Impressum</li>
        </ul>
      </div>
    </div>
  </div>