<%- include('./partials/header') %>
<body>
  <section class="home" id="home" style="height: 100px">
    <%- include('./partials/navbar') %>
  </section>
  <!-- faq -->
  <section class="faq" id="faq">
    <div class="inner">
      <div class="header">
        <h1>FAQ</h1>
      </div>
      <div class="image">
        <img src="/images2/IMG-20230217-WA0031.jpg" alt="smiling-girl-hugs" />
      </div>
      <div class="sub-1">
        <div class="white">
          <h1>LOREM IPSUM DOLO?</h1>
          <p>
            Lorem ipsum dolor Lorem ipsum dolor sit Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit, sed diam nonummy nibh euismod
            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
            enim ad minim veniam, quis nostrud exerci
          </p>
        </div>
      </div>
      <div class="sub-2">
        <div class="white">
          <h1>LOREM IPSUM DOLO?</h1>
          <p>
            Lorem ipsum dolor Lorem ipsum dolor sit Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit, sed diam nonummy nibh euismod
            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
            enim ad minim veniam, quis nostrud exerci
          </p>
        </div>
      </div>
      <div class="sub-3">
        <div class="white">
          <h1>LOREM IPSUM DOLO?</h1>
          <p>
            Lorem ipsum dolor Lorem ipsum dolor sit Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit, sed diam nonummy nibh euismod
            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
            enim ad minim veniam, quis nostrud exerci
          </p>
        </div>
      </div>
      <div class="sub-4">
        <div class="white">
          <h1>LOREM IPSUM DOLO?</h1>
          <p>
            Lorem ipsum dolor Lorem ipsum dolor sit Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit, sed diam nonummy nibh euismod
            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
            enim ad minim veniam, quis nostrud exerci
          </p>
        </div>
      </div>
      <div class="sofa">
        <img src="/images2/IMG-20230217-WA0030.jpg" alt="sofa" />
      </div>
    </div>
  </section>
  <!-- footer -->
  <section class="footer"><%- include('./partials/footer') %></section>
  <!-- scripts -->
  <%- include('./partials/scripts') %>
</body>
