<%- include('./partials/header') %>

<body>
  <section class="home" id="home" style="height: 100px">
    <%- include('./partials/navbar') %>
  </section>
  <!-- features -->
  <section class="features" id="features">
    <div class="header">
      <h1>FEATURES</h1>
    </div>
    <div class="second-sub">
      <div class="circle"></div>
      <div class="text">
        <span>How big is your buddy?</span>
        Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetuer
        adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna.
      </div>
    </div>
    <div class="third-sub">
      <div class="sml">
        <h1>S</h1>
        <span>How big is your buddy?</span>
        <p>
          Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna.
        </p>
      </div>
      <div class="sml">
        <h1>M</h1>
        <span>How big is your buddy?</span>
        <p>
          Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna.
        </p>
      </div>
      <div class="sml">
        <h1>L</h1>
        <span>How big is your buddy?</span>
        <p>
          Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna.
        </p>
      </div>
    </div>
    <div class="fourth-sub">
      <div class="circle"></div>
      <div class="text">
        <span>How many buddys do you have?</span>
        <p>
          Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna.
        </p>
      </div>
    </div>
    <div class="fifth-sub">
      <div class="sub-123">
        <h1>1</h1>
        <span>How big is your buddy?</span>
        <p>
          Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna.
        </p>
      </div>
      <div class="sub-123">
        <h1>2</h1>
        <span>How big is your buddy?</span>
        <p>
          Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna.
        </p>
      </div>
      <div class="sub-123">
        <h1>3</h1>
        <span>How big is your buddy?</span>
        <p>
          Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna
        </p>
      </div>
    </div>
    <div class="sixth-sub">
      <div class="more">
        <h1>MORE?</h1>
        <span>Use contact form below to tell us your exact wishes.</span>
        <p>
          Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna.
        </p>
      </div>
    </div>
    <div class="seventh-sub">
      <div class="circle">
        <h1 style="color: white">CM</h1>
      </div>
      <div class="text">
        <span>How big do you need it to be?</span>
        <p>
          Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna.
        </p>
      </div>
    </div>
    <div class="eigth-sub">
      <div class="cm-sub">
        <h1>100-300 CM</h1>
        <span>How big is your buddy?</span>
        <p>
          Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna.
        </p>
      </div>
      <div class="cm-sub">
        <h1>300-500 CM</h1>
        <span>How big is your buddy?</span>
        <p>
          Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna.
        </p>
      </div>
      <div class="cm-sub">
        <h1>500- CM</h1>
        <span>How big is your buddy?</span>
        <p>
          Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna.
        </p>
      </div>
    </div>
    <div class="nith-sub">
      <div class="circle"></div>
      <div class="text">
        <span>What wood would you want?</span>
        <p>
          Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna.
        </p>
      </div>
    </div>
    <div class="tenth-sub">
      <div class="rectangle"></div>
    </div>
    <div class="last-sub">
      <div class="wood">
        <h1>WOOD 1</h1>
        <span>How big is your buddy?</span>
        <p>
          Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna.
        </p>
      </div>
      <div class="wood">
        <h1>WOOD 2</h1>
        <span>How big is your buddy?</span>
        <p>
          Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna.
        </p>
      </div>
      <div class="wood">
        <h1>WOOD 3</h1>
        <span>How big is your buddy?</span>
        <p>
          Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna.
        </p>
      </div>
      <div class="wood">
        <h1>WOOD 4</h1>
        <span>How big is your buddy?</span>
        <p>
          Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna.
        </p>
      </div>
      <div class="wood">
        <h1>WOOD 5</h1>
        <span>How big is your buddy?</span>
        <p>
          Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna.
        </p>
      </div>
    </div>
  </section>
  <!-- footer -->
  <section class="footer"><%- include('./partials/footer') %></section>
   <!-- scripts -->
   <%- include('./partials/scripts') %>
</body>
